# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
/myenv/

# Environment variables
.env
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# React
node_modules/
frontend/dist/

# Testing
.pytest_cache/
.coverage

backend/data/
volumes/
embedEtcd.yaml
user.yaml